body {
  margin: 0;
  background-color: #aaaaaa;
}
img {
  width: 200px;
  left: 50%;
  position: relative;
  margin: 20% 0 0 -100px;
}
@media (min-width: 400px) {
  body img {
    width: 300px;
    margin: 20% 0 0 -150px;
  }
}